/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-family: din-round,sans-serif!important;
}

/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */
.body {
    background: #fff;
    color: #3c3c3c;
    font: 700 17px/20px sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

h2 {
    color: #3c3c3c;
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 25px;
}
body {
    margin: 0px;
    font: 700 17px/20px sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
textarea {
    overflow: auto;
    outline: none;
}
button {
    outline: none;
}