.course-content-container {
    margin-right: 404px;
    height: 100px;
}
.course-module-container {
    border: 0!important;
    margin-bottom: 30px;
    padding: 0 0 24px;
    margin: 0 24px 24px;
}
.skill-tree {
    padding-bottom: 0;
}

.global-practice {
        background: none;
    /* color: #afafaf; */
    border-color: #e5e5e5;
    border-width: 2px 2px 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 40px;
    border-style: solid;
    bottom: 40px;
    right: auto;
    height: 72px;
    width: 72px;
    z-index: 199;
    padding: 0!important;
    position: fixed;
}

.global-practice:hover {
        background-color:#afafafb5;
}

.global-practice img {
        height: 32px;
    margin-top: 18px;
}
.lessons-row-container {
        margin-bottom: 40px;
        text-align: center;
}
.lesson-anchor-box {
     width: 144px;
    color: #3c3c3c;
    display: inline-block;
    min-width: 100px;
    position: relative;
    text-align: center;
    vertical-align: top;   
}

.course-image-span-container{
    background: #ce82ff;
    position: relative;
    /* z-index: 1; */
    height: 72px;
    width: 72px;
    border-radius: 98px;
    display: inline-block;
    margin: 8px 0 25px;
    cursor: pointer;
}

.course-image-span{
    display: inline-block;
    background-position: 0 0;
    background-size: 72px;
    height: 72px;
    width: 72px;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/skills-purple.svg);
}
.course-crown-div {
    bottom: -20px;
    position: absolute;
    right: -24px;
    color: transparent;
    height: 50px;
    width: 50px;
    /* z-index: 1; */
}
.course-crown-image {
    color: transparent;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}
.lesson-progress-rings {
    left: calc(50% - 90px / 2);
    margin-left: -8px;
    top: -8px;
    z-index: 0;
    position: absolute;
    color: #999;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.bscs1{
        /* background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/skills-purple.svg); */
        background-position: 0 0px;
}
.bscs2{
       /* background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/skills-purple.svg); */
       background-position: 0 -72px;
}
.grtngs{
        background-position: 0 -2160px;
}
.people {
        background-position: 0 -2448px;
}
.travel {
        background-position: 0 -2520px;

}
.phrases {
        background-position: 0 -3384px;
}
.trvl {
    background-position: 0 -2520px;
}