.logged-in-splash-toppermost-div {
    opacity: 0;
    width: 100%;
    background: #1cb0f6;
    display: inline-block;
    height: 4px;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s,width .2s;
    z-index: 500;
}

.dashboard-header {
    z-index: 200;
    height: 70px;
    background-color: #fff;
    border-bottom: 2px solid #e5e5e5;
    color: #afafaf;
    font-size: 17px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.dashboard-header-container {
        flex-direction: row;
    margin: 0 auto;
    max-width: 990px;
    padding: 0 24px;
        height: 100%;
        display: flex;
            background-color: #fff;
    border-bottom: 2px solid #e5e5e5;
    /* color: #afafaf; */
    font-size: 17px;
    /* left: 0;
    position: fixed;
    right: 0;
    top: 0; */
}
.dashboard-header-blocks {
    height: 100%;
    position: relative;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
        text-decoration: none;
}
.dashboard-header-icon {
        padding-right: 12px;
            cursor: pointer;
    max-height: 32px;
    transition: filter .2s;
}
.dashboard-header-span {
        position: relative;
        display: flex;
            -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-header-text {
        color: #1cb0f6;
            font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
}
.dashboard-spacer {
    flex-grow: 1;
    height: 100%;
}
.dashboard-divider{
        flex-grow: 1;
    padding: 0 16px;
        height: 100%;
    position: relative;
    align-items: center;
    display: flex;

}
.dashboard-divider::after {
        background-color: #e5e5e5;
    content: "";
    height: 40px;
    margin: 0 auto;
    width: 2px;
}
.dashboard-flag-section {
    height: 100%;
    position: relative;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-flag-span-parent{
    position: relative;
    display: flex;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-flag-span-child {
    background-size: 40px;
    display: inline-block;
    height: 32.19512px;
    width: 40px;
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/juicy-flag-sprite-4.svg);
}

.dashboard-country-French{
    background-position: 0 -64.39024px;
}
.dashboard-country-German {
        background-position: 0 -96.58537px;
}
.dashboard-country-Spanish {
        background-position: 0 -32.19512px;
}
.dashboard-country-Japanese {
        background-position: 0 -128.78049px;
}

.dashboard-flag-section {
        margin-left: 24px;
            height: 100%;
    
}
.dashboard-progress-section {
        margin-left: 24px;
        display: flex;
}

.dashboard-progress-span-parent {
    position: relative;
        display: flex;
            -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
}
.dashboard-number-span {
        color: #e5e5e5;
            font-weight: 700;
}
.dashboard-user-icon {
    cursor: pointer;
    border-radius: 98px;
    height: 36px;
}

.dashboard-body {
    cursor: default;
    margin: 94px auto 0!important;
    max-width: 1140px;
    min-width: 900px;
}
.dashboard-body-right-side {
    float: right;
    width: 428px;
}
.dashboard-body-create-profile {
        background: #fff;
    border: 2px solid #e5e5e5;
    border-radius: 16px;
    display: block;
    margin: 0 24px 24px;
    padding: 24px;
}
.dashboard-create-profile-button-container {

}

.dashboard-create-a-profile-button {
    color: white;
    border-width: 0 0 4px;
    background-color: #78c700;
    border-color: #58a700;
    border-radius: 18px;
    padding: 13px 16px;
    font-size: 15px;
    line-height: 20px;
        font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    width: 100%;
}

.dashboard-login-button {
    margin-top: 10px;
    color: white;
    border-width: 0 0 4px;
    background-color: #1bb0f6;
    border-color: #1899d6;
    border-radius: 18px;
    padding: 13px 16px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    width: 100%;
}

/* FLAG DROP DOWN */


.flag-container-list {
    display: none;
    z-index: 220;
    left: 50%;
    top: calc(100% + 10px - 2px);
    transform: translateX(-50%);
    border: 2px solid #e5e5e5;
    border-radius: 15px; 
    min-height: 50px;
    min-width: 50px; 
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
}
.dashboard-flag-section:hover .flag-container-list {
    display: block;
}

.flag-box-sizer {
    max-height: 304px;
    overflow-y: auto;
    width: 240px;
}
.flag-language-box{
    /* background-color: #ddf4ff; */
    align-items: center; 
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e5e5e5;
    color: #4b4b4b;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 12px;
}

.add-language-box {
    /* background-color: #ddf4ff; */
    align-items: center; 
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e5e5e5;
    color: #4b4b4b;
    cursor: pointer;
    font-weight: 700;
    padding: 8px 12px;
}

.flag-language-box:first-child {
    background-color: #ddf4ff;
}

.flag-language-box:hover { background-color: #f7f7f7 }
.add-language-box:hover { background-color: #f7f7f7 }

.flag-language-box-t-span {
    padding-left: 12px;
}

.add-n-c {
    color: #afafaf;
    font-size: 17px;
}

.profile-container-list {
    display: none;
    z-index: 220;
    left: 50%;
    top: calc(100% + 10px - 20px);
    transform: translateX(calc(-100% - -30px) );
    border: 2px solid #e5e5e5;
    border-radius: 15px; 
    min-height: 50px;
    min-width: 50px; 
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
}
.db-profile-section:hover .profile-container-list {
    display: block;
}
.profile-box-sizer {
    max-height: 304px;
    overflow-y: auto;
    width: 240px;
}

.profile-option-box{
    /* background-color: #ddf4ff; */
    /* align-items: center;  */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #e5e5e5;
    color: #4b4b4b;
    cursor: pointer;
    font-weight: 700;
    /* padding: 8px 12px; */
}
.db-option-span { 
    border-top: solid 2px #e5e5e5;
    color: #1cb0f6;
    min-height: 30px;
    min-width: 100px;
    white-space: nowrap;
    cursor: pointer;    
    font-weight: 700px;
    align-items: center; 
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding-left: 24px;
}
.db-option-span:hover {
    background-color: #f7f7f7;

}

.db-profile-header-div {
    padding: 12px 12px 12px 24px;
    font-size: 20px;
    font-weight: 700px;
    color: #4b4b4b;
    align-items: center; 
    display: flex;
    flex-direction: row;
}
