.first-skill-div {
    cursor: default;
    margin: 94px auto 0!important;
    max-width: 1140px;
    min-width: 900px;
}
.second-skill-div {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.third-skill-div {
    min-height: 590px;
    padding: 0;
}
.skill-header-container {
    z-index: 200;
}
.skill-header-content-frame {
        height: 80px;
    padding-top: 40px;
        padding: 50px 40px 0;
            display: flex;
    height: 40px;
    margin: auto;
    max-width: 1080px;
    position: relative;
}
.skill-x-button {
    left: 40px;
    position: absolute;
    background-position: -373px -153px;
    height: 18px;
    width: 18px;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
    display: inline-block;
    vertical-align: middle;
}
.skill-progress-button{
    flex-grow: 1;
}
.skill-progress-container-anon {
        margin: 0 0 0 40px;
    position: relative;
}
.skill-progress-container {
    border-radius: 98px;
    height: 16px;
        background: #e5e5e5;
    position: absolute;
    width: 100%;
}
.skill-progress-green {
    opacity: 0;
    width: 0%;
        background: #78c800;
    min-width: 16px;
    position: relative;
    transition: all .5s;
    z-index: 1;
        border-radius: 98px;
    height: 16px;
}
.skill-progress-green::after {
    background: #fff;
    border-radius: 98px;
    content: "";
    display: block;
    height: 5px;
    margin: 0 10px 0 15px;
    opacity: .2;
    transform: translate3d(0,4px,0);
}

/* Body */
.skill-lesson-body{
    display: flex;
    font-size: 19px;
    text-align: center;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    opacity: 1;
}

.challenge {
    transform: translateZ(0);
    max-height: 350px;
    max-width: 600px;
    overflow: visible;
        margin: auto;
            -ms-flex-align: initial;
    align-items: initial;
    -ms-flex-pack: initial;
    justify-content: initial
}

.challenge-header {
        font-size: 32px;
    line-height: 40px;
        margin: 0;
    text-align: left;
    width: 100%;
}

.challenge-subbox{
        display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}


/* Footer */

.skill-footer-container {
    z-index: 100;
}

.skill-footer-content-frame {
    background: #fff;
    border-top: 2px solid #e5e5e5;
    max-height: 140px;
    min-height: 140px;
    overflow: hidden;
    bottom: 20px;
    transition: max-height .3s ease-in-out;
    width: 100%;
}
@media (min-width: 1000px) {
    .skill-f-c-f {
        margin-left: calc(50% - 500px);
    }
}

@media (min-width: 700px) {
.skill-f-c-f {
    min-height: 140px;
    width: 100%;
    }
}
.skill-f-c-f {
    max-width: 1000px;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none;
}
.skill-skip-button {
        position: absolute;
    top: 50%;
        left: 40px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.skill-f-bs {
    margin-bottom: 10px;
    min-width: 150px;
    width: 100%;
        font-size: 17px!important;
        background: none;
    color: #afafaf;
    border-width: 2px 2px 4px;
        border-color: #e5e5e5;
    padding: 12px 16px;
line-height: 20px;
        display: inline-block;
    text-align: center;
    vertical-align: middle;
        cursor: pointer;
    white-space: nowrap;
        border-radius: 16px;
    border-style: solid;
        transform: translateZ(0);
    transition: filter .2s;
        font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
}
.skill-check-button {
        position: absolute;
    right: 40px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}