.logged_out_nav {
    background: linear-gradient(180deg,#0b3e71,rgba(11,65,118,.5));
    background-color: rgba(11,65,118,.8);
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}