.logged-out-nav {
    background: linear-gradient(180deg,#0b3e71,rgba(11,65,118,.5));
    background-color: rgba(11,65,118,.8);
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.duoLogo {
    float: left;
    margin-top: 18px;
    width: 158px;
    background-position: -144px 0;
    height: 36px;
    width: 142px;
    background-size: 900px;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icon-sprite8.svg);
    display: inline-block;
    vertical-align: middle;
}

.logged-out-nav-container {
    margin: 0 auto;
    max-width: 90%;
    min-height: 70px;
    padding: 0 40px;
}

.langlogin {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin-top: 5px;
}

.langlogin-container {
    display: flex;
    float: right;
    align-items: center;
    margin-top: 5px;

}

.site-lang {
    cursor: pointer;
    font-family: din-round,sans-serif!important;
    padding: 20px;
    position: relative;
    color: #fff;
    align-items: center;
    display: flex;
    float: right;
}
.site-lang-language{
    margin-left: 5px;
}
.login-button-div{
    position: relative;
    text-align: center;
}

.login-button{
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    /* border-width: 1px; */
    /* padding: 1px 7px 2px; */
    border-width: 0 0 4px;
    /* border-color: transparent; */
    /* border-top-left-radius: 18px; */
    border-radius: 18px;
    padding: 13px 16px;

    color: #0b3e71!important;
    font-size: 12px; 
    font-weight: 700; 
     letter-spacing: .8px; 
    text-transform: uppercase;
}

.body-container{
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin: 12px auto;
    padding: 40px;
    text-align: center;
    margin-top: 70px; /* to counteract position fixed; 70px is height of nav bar*/
}
.globe {
    background: url(//d35aaqx5ub95lt.cloudfront.net/images/earth-two-rings.svg);
    background-size: 360px;
    height: 360px;
    min-width: 360px;
    width: 360px;
}
.slogan-text-box{
    margin: auto 48px;
    width: 60%;
}
.slogan-text {
    margin-bottom: 24px;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 50px;
}

.logged-out-container {
    background-color: #235390;
    background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
    width: 100%;
        align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.get-started-button{
        font-size: 15px;
    padding: 12px 24px;
        background-color: #58a700;
    color: #fff;
        border-width: 0 0 4px;
            border-color: transparent;
    border-radius: 16px;
    border-style: solid;
        cursor: pointer;
        min-width: 320px;

    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
}